.about-block-photo-intro {
  opacity: 0;
  animation: about-block-photo-intro 1s cubic-bezier(0.62, 0.11, 0.61, 1.01) 0.15s 1 normal forwards;
}

@keyframes about-block-photo-intro {
  0% {
    opacity: 1;
    transform: translateY(-50px) scale(1.3) rotate(-2deg);
  }
  50% {
    transform: translateY(0) scale(1) rotate(-5deg);
  }
  60% {
    transform: translateY(-5px) scale(1.025) rotate(-5deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(-5deg);
  }
}

.about-image-photo-intro {
  filter: grayscale(100%) brightness(2%);
  animation: about-image-photo-intro 1.25s cubic-bezier(0.57, 0.21, 0.51, 0.86) 0.25s 1 normal forwards;
}

@keyframes about-image-photo-intro {
  0% {
    filter: grayscale(100%) brightness(3%);
  }
  100% {
    filter: none;
  }
}

.about-text-intro {
  opacity: 0;
  animation: about-text-intro 0.6s cubic-bezier(0.18, 0.62, 0.62, 0.88) 0.15s 1 normal forwards;
}

@keyframes about-text-intro {
  0% {
    opacity: 0;
    transform: translateX(+150%);
  }
  98% {
    transform: translateX(-7px);
  }
  100% {
    opacity: 1;
  }
}

.about-p-1-intro {
  opacity: 0;
  animation: about-p-intro 0.4s cubic-bezier(0.18, 0.62, 0.62, 0.88) 0.6s 1 normal forwards;
}

.about-p-2-intro {
  opacity: 0;
  animation: about-p-intro 0.4s cubic-bezier(0.18, 0.62, 0.62, 0.88) 0.85s 1 normal forwards;
}

.about-p-3-intro {
  opacity: 0;
  animation: about-p-intro 0.4s cubic-bezier(0.18, 0.62, 0.62, 0.88) 1.1s 1 normal forwards;
}

.about-p-4-intro {
  opacity: 0;
  animation: about-p-intro 0.4s cubic-bezier(0.18, 0.62, 0.62, 0.88) 1.35s 1 normal forwards;
}

@keyframes about-p-intro {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

/* Mobile */
@media (max-height: 590px), (max-width: 768px) {
  .about-block-photo-intro {
    opacity: 1;
    animation: about-block-photo-intro-mobile 0.65s cubic-bezier(0.62, 0.11, 0.61, 1.01) 0.15s 1 normal forwards;
  }

  .about-image-photo-intro {
    animation: about-image-photo-intro 1.6s cubic-bezier(0.57, 0.21, 0.51, 0.86) 0.25s 1 normal forwards;
  }

  .about-text-intro {
    opacity: 0;
    animation: about-text-intro-mobile 1.25s cubic-bezier(0.18, 0.62, 0.62, 0.88) 0.15s 1 normal forwards;
  }
}

@keyframes about-block-photo-intro-mobile {
  0% {
    transform: translateY(-12px) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes about-text-intro-mobile {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
