#examples-content {
  width: var(--slide-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px var(--slide-side-margin);
  padding: 50px 0;
  box-sizing: border-box;
}

#examples-content .slide-title-style {
  margin-bottom: 36px;
  top: -10px;
}

#examples-gallery {
  display: grid;
  grid-template-columns: repeat(3, 27.75%);
  justify-content: center;
  width: 100%;
  margin-right: -42px;
}

#examples-gallery li:nth-child(-n + 3) {
  margin-bottom: 42px;
}

#examples-gallery li {
  margin-right: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  background: radial-gradient(ellipse at center, rgb(223, 223, 223) 0%, rgb(231, 231, 231) 100%);
}

#examples-gallery li > div {
  position: relative;
  width: 100%;
  height: 138px;
}

.examples-images {
  object-fit: fill;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

#examples-gallery h3 {
  padding: 13px 16px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  color: var(--black);
}

/* Filter */
.examples-filters {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 1;
}

.examples-filters img {
  height: 22px;
  margin-bottom: 8px;
}

.examples-filters p {
  padding: 0px 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
