.examples-title-intro {
  opacity: 0;
  animation: slide-title-intro 0.85s ease-in-out 0s 1 normal forwards;
}

.example-1-intro {
  opacity: 0;
  animation: example-intro 0.35s ease-in-out 0.6s 1 normal forwards;
}

.example-2-intro {
  opacity: 0;
  animation: example-intro 0.35s ease-in-out 0.85s 1 normal forwards;
}

.example-3-intro {
  opacity: 0;
  animation: example-intro 0.35s ease-in-out 1.1s 1 normal forwards;
}

.example-4-intro {
  opacity: 0;
  animation: example-intro 0.35s ease-in-out 1.35s 1 normal forwards;
}

.example-5-intro {
  opacity: 0;
  animation: example-intro 0.35s ease-in-out 1.6s 1 normal forwards;
}

@keyframes example-intro {
  0% {
    opacity: 0;
    transform: scaleY(0.2);
  }
  100% {
    opacity: 1;
  }
}

.example-filter-image-hover {
  filter: brightness(0.2);
}

.example-filter-hover {
  animation: example-filter-hover 0.35s cubic-bezier(0.09, 0.65, 0.4, 1) 0s 1 normal forwards;
}

@keyframes example-filter-hover {
  0% {
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
  }
}

#examples-gallery .example-h3-hover {
  text-decoration: underline;
  color: rgb(85, 85, 85);
}
