.footer-intro {
  animation: footer-intro var(--header-animation-duration) cubic-bezier(0.46, 0.01, 0.67, 0.86) 0s 1 normal forwards;
}

@keyframes footer-intro {
  0% {
    filter: blur(8px);
  }
  100% {
    filter: none;
  }
}

.elements-footer-intro-mobile {
  animation: elements-footer-intro-mobile var(--header-animation-duration) cubic-bezier(0.17, 0.67, 0.5, 0.86) 0s 1 normal forwards;
}

@keyframes elements-footer-intro-mobile {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.elements-footer-intro {
  animation: elements-footer-intro 0.75s ease-out 0s 1 normal forwards;
}

@keyframes elements-footer-intro {
  0% {
    transform: translateX(100%);
    filter: blur(8px);
  }
  100% {
    transform: translateX(0%);
    filter: none;
  }
}

@media (hover: hover) {
  #footer img:hover {
    animation: footer-link-hover 0.525s ease-in 0s infinite alternate none;
  }
}

@keyframes footer-link-hover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
