@media (max-width: 1440px) {
  #footer img {
    height: 21px;
  }
}

@media (max-width: 1024px) {
  #footer img {
    height: 20px;
  }
}

@media (max-height: 768px) {
  #footer img {
    height: 19px;
  }
}

@media (max-height: 590px), (max-width: 768px) {
  footer {
    height: var(--footer-height-on-mobile);
    width: 100%;
    right: unset;
    top: unset;
    left: 0;
    bottom: 0;
    transform: translateY(0%);
    background-color: var(--general-background-color);
  }

  #footer {
    border-radius: unset;
    background: var(--header-footer-color);
  }

  #footer div {
    padding: 0;
    flex-direction: row;
  }

  #footer a {
    margin-bottom: 0;
    margin-right: 42px;
  }

  #footer a:last-child {
    margin-right: 0px;
  }

  #footer img {
    height: 18px;
  }
}

@media (max-width: 475px) {
  #footer a {
    margin-right: 38px;
  }

  #footer a:last-child {
    margin-right: 0px;
  }
}
