:root {
  /* ==== General ==== */
  --header-animation-duration: 0.6s;
  --delay-before-next-scroll: 0.75s;
  --slide-outro-animation-duration: 0.4s;
}

.slide-outro-forward {
  animation: slide-outro-forward var(--slide-outro-animation-duration) linear 0s 1 normal forwards;
}

@keyframes slide-outro-forward {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateY(-100px);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.slide-outro-backward {
  animation: slide-outro-backward var(--slide-outro-animation-duration) linear 0s 1 normal forwards;
}

@keyframes slide-outro-backward {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateY(+100px);
  }
  100% {
    opacity: 0;
    transform: translateY(+100px);
  }
}

.arrow-down {
  animation: arrow-down-blink 1s ease-in-out 0s infinite alternate none;
}

@keyframes arrow-down-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.08;
  }
}
