@media (max-width: 1440px) {
  .header-margin-for-tablet-desktop {
    margin-top: var(--header-height-1440);
  }

  #home-content {
    width: 700px;
  }

  #home h2 {
    font-size: 32px;
  }

  #home p {
    font-size: 22px;
    margin-top: 18px;
    margin-bottom: 23px;
  }

  #home-buttons a {
    height: 30px;
    width: 105px;
    font-size: 16px;
  }

  #home-contact-button {
    margin-right: 22px;
  }

  #home-CV-button img {
    height: 14px;
  }
}

@media (max-width: 1024px) {
  .header-margin-for-tablet-desktop {
    margin-top: var(--header-height-1024);
  }

  #home-content {
    width: 600px;
  }

  #home h2 {
    font-size: 30px;
  }

  #home p {
    font-size: 20px;
  }

  #home-buttons a {
    height: 28px;
    width: 98px;
  }

  #home-contact-button {
    margin-right: 18px;
  }
}

@media (max-height: 768px) {
  .header-margin-for-tablet-desktop {
    margin-top: var(--header-height-768-H);
  }

  #home h2 {
    font-size: 28px;
  }

  #home p {
    font-size: 18px;
  }

  #home-buttons a {
    height: 28px;
    width: 98px;
  }
}

@media (max-height: 590px), (max-width: 768px) {
  .header-margin-for-tablet-desktop {
    margin-top: 0;
  }

  #home-content {
    width: 100%;
    max-width: 600px;
    padding: 0 10%;
    box-sizing: border-box;
    margin: 0px;
  }

  #home h2 {
    font-size: 28px;
  }

  #home p {
    font-size: 18px;
    margin-bottom: 22px;
  }
}
