:root {
  /* ==== Info bubbles ==== */
  --bubble-offset-y-on-mobile: 18;
}

@media (max-width: 1440px) {
  .info-bubbles {
    font-size: 16px;
    padding: 13px 16px;
  }
}

@media (max-width: 1024px) {
  .info-bubbles {
    padding: 11px 16px;
  }
}

@media (max-height: 768px) {
  .info-bubbles {
    padding: 11px 14px;
    font-size: 16px;
    line-height: 1.3;
  }
}

@media (max-height: 590px), (max-width: 768px) {
  .info-bubbles {
    padding: 11px 14px;
    font-size: 18px;
    line-height: 1.3;
  }
}
